@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #1B4F72;
  --brand-secondary: #2E86C1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
